<!-- app/views/products/index.html.erb -->
<h1>Products List</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong>Title:</strong> <%= link_to product.title, product %><br>
      <strong>Description:</strong> <%= product.description %><br>
      <strong>Price:</strong> <%= number_to_currency(product.price) %><br>
      <strong>Stock Quantity:</strong> <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>
